.inpField {
    max-width: 600px;
    margin: 10px auto 20px;
}
.inp {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    padding: 10px;
    /* outline: 1px solid black; */
    box-shadow: 0 0 10px gray;
    border-left: 40px solid var(--two);
    font-size: large;
    color: var(--font);
}

@media screen and (min-width: 992px) {
    .inp {
        padding: 10px;
    }
    .icon {
        top: 10px;
    }
}
